# Notebook Demo For Using Toniq Data Manager

In [2]:
import sys
sys.path.append("..")
from module import DataManager
import pandas as pd

In [5]:
ls ../data/raw

county.csv  patients.csv

## Initialize the Data Manager Connecting to Toniq Store and Presto on GCP

In [27]:
dm = DataManager(provider='gcp')

s3_endpoint is 10.2.3.167:9000
s3_endpoint is 10.2.3.167:9000

### Write a dataframe into Toniq as a Spark Table

In [28]:
df = pd.read_csv( "../data/raw/patients.csv")
dm.write_toniq_table(df , table_name="raw_patients")

Saved Toniq Table (raw_patients)

## Load Table from toniq store

In [20]:
spark_df = dm.load_toniq_table(table_name="raw_patients")
spark_df.toPandas().head(3)

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,a5f1e0ad-e353-3253-57b7-fba5772dfb2a,1954-08-03,None,999-19-9187,S99924733,X13064600X,Mrs.,Karol905,West559,None,...,Billerica Massachusetts US,486 Buckridge Green Suite 89,Methuen,Massachusetts,Essex County,1841.0,42.694271,-71.210175,1406624.32,13998.04
1,cc637315-dcfe-669f-5b60-4460a5d15531,1922-06-12,1997-10-16,999-75-7903,S99960413,X38498045X,Mr.,Angelo118,Gutmann970,None,...,Ludlow Massachusetts US,1057 Swaniawski Trafficway Apt 0,Harwich,Massachusetts,Barnstable County,NaN,41.679505,-70.100486,1757919.21,5698.68
2,901c5e91-cdfe-9380-3a63-cae05d0a26c9,2007-11-20,None,999-78-7978,None,None,None,Aiko748,Berge125,None,...,Westfield Massachusetts US,1031 VonRueden Bay,Billerica,Massachusetts,Middlesex County,NaN,42.542253,-71.230790,352691.12,2841.52

## Query Spark DataFrame Using SQL

In [25]:
# Create Temporary Table
spark_df.createOrReplaceTempView("raw_patients")

# Query Table
dm.spark.sql("""

SELECT 
    deathdate
FROM raw_patients

""")


# Remove Temporary Table

## Stop Spark Session

In [26]:
dm.spark.stop()